<h2>Your product cannot be returned or you have entered invalid purchase number</h2>
<p>
    @Html.ActionLink("Back Home", "Index", "Home") <br />
    @Html.ActionLink("Try one more time", "Return")
</p>


